[package]
name = "batch_git"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
git2 = "0.14"

clap = "3.2.14"

serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"